<div class="container">
  <!-- Navegació per pestanyes per escollir entre usuaris o activitats -->
  <div class="navigation-tabs">
    <button class="nav-tab" [class.active]="activeTab === 'users'" (click)="setActiveTab('users')">
      <i class="material-icons">people</i> Usuaris
    </button>
    <button class="nav-tab" [class.active]="activeTab === 'activities'" (click)="setActiveTab('activities')">
      <i class="material-icons">directions_run</i> Activitats
    </button>
  </div>
  
  <!-- Visible secció d'usuaris (quan activeTab === 'users') -->
  <div *ngIf="activeTab === 'users'">
    <app-users></app-users>
  </div>
  
  <!-- Secció d'activitats (visible quan activeTab === 'activities') -->
  <div *ngIf="activeTab === 'activities'">
    <app-activities></app-activities>
  </div>
</div>
<div class="backoffice-container">
  <h1>Panel de Administración</h1>
  <button (click)="logout()" class="btn btn-danger">Cerrar Sesión</button>
</div>

