<div class = "login-container">
    <form [formGroup]="formLogin" (ngSubmit)="login()" class="login-form">
        <h1 class="form-title">Inici de sessió</h1>
        <div class="form-group">
            <label for="username" class="form-label">Nom d'usuari:  </label>
            <input 
            type="text"
            class="form-control"
            id="username"
            formControlName="username"
            [ngClass]="{'is-invalid': hasError('username','required')}">
        <div class="error-message" *ngIf="hasError('username','required')">Nom d'usuari obligatori.</div>
        </div>
        <div class="form-group">
            <label for="password" class="form-label">Contrasenya:  </label>
            <input
            type="password"
            class="form-control"
            id="password"
            formControlName="password" 
            [ngClass]="{'is-invalid': hasError('password','required') || hasError('password','minlength')}">
            <div class="error-message" *ngIf="hasError('password','required')">Contrasenya obligatòria.</div>
            <div class="error-message" *ngIf="hasError('password','minlength')">Contrasenya invàlida (ha de tenir com a mínim 8 caràcters).</div>
        </div>
        <button type="submit" class="btn-login">Iniciar sessió</button>
    </form>
</div>
